.about {
    background: url("../../assets/images/about_bg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.about_article {
    font-family: "Roboto";
    width: 50rem;
    height: 23rem;
    color: white; 
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0.8rem; 
    margin-top: 4rem;
}

.about_article h1 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;
    color: white;
}

.about_article p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.about_article a {
    text-decoration: none;
    color: #006FB9;
}

@media (max-width: 1024px) {
    .about_article {
        width: 31rem;
        margin: 0;
    }
    .about_article p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .about_article {
        width: 100%;
        margin: 5rem 2rem 0 2rem;
    }
    .about_article h1 {
        font-size: 2rem;
    }
}

@media (max-width: 520px) {
    .about_article {
       margin: 5rem 0.5rem 0 0.5rem;
    }
    .about_article p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
}