.header_info {
    position: relative;
    width: 70%;
    margin: 0 auto;
    color: white;
}

.header_info::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../../assets//images/home_bg.jpg") no-repeat;
}   

h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
    color: #bec0c4;
}

h1 .num {
    font-weight: 500;
}

.next_launch {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.next_launch li {
    display: flex;
    flex-direction: column;
    font-size: 9rem;
    list-style-type: none;
    font-family: "Roboto";
    font-weight: 400;
}

.num {
    color: #006FB9; 
}

.next_launch li .time_scale {
    font-size: 1rem;
    text-align: center;
    color: #bec0c4;
}

.next_launch .dots {
    display: flex;
    justify-content: center;
}

.show_details {
    width: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show_details p {
    margin: 0.2rem 0;
}

.down_icon {
    display: block;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
}

.quote {
    width: 80%;
    text-align: center;
    margin: 3rem auto 0 auto;
}

.quote p span {
    font-weight: 500;
}

.next_launch_detail {
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0.75rem;
    font-size: 0.9rem;
}

.titles {
    padding-left: 1rem;
}

.titles li {
    color: #bec0c4;
}

.titles li, .infos li {
    list-style-type: none;
    padding: 0.25rem;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

@media (max-width: 1280px) {
    .header_info {
        width: 90%;
    }
    .num {
        font-size: 6rem;
    }
    .next_launch .dots {
        font-size: 4rem;
    }
}

@media (max-width: 990px) {
    .header_info h1 {
        font-size: 2.5rem;
    }
    .num {
        font-size: 4rem;
    }
    .time_scale {
        font-size: 0.8rem;
    }
    .next_launch .dots {
        font-size: 3rem;
    }
}