button {
    background: black;
    font-size: 1.25rem;
    color: #006FB4;
    border: 1px solid #006FB4;
    border-radius: 0.5rem;
    padding: 1rem 0.6rem;
    transition: 0.4s all;
    cursor: pointer;
    line-height: 100%;
}

button:hover {
    background-color: #006FB4;
    color: black;
}

@media (max-width: 768px) {
    button {
        font-size: 1rem;
        padding: 0.8rem 0.4rem;
    }
}

@media (max-width: 520px) {
    button {
        padding: 0.6rem 0.3rem;
    }
}