.launches {
    background: black;
    color: white;
    padding: 0 14rem;
    font-family: "Roboto";
}

.latest_launch h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    margin-bottom: 2rem;
}

.latest_launch_detail {
    display: flex;
}

.latest_launch_detail #rocketIcon {
    width: 14rem; 
    height: 14rem;
    margin: 0.5rem 0 0 0;
}

.rocket_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem 0 0;
}

.latest_details {
    width: 100%;
}

.select {
    background: black;
    font-size: 1.25rem;
    color: #006FB4;
    border: 1px solid #006FB4;
    border-radius: 0.5rem;
    padding: 1rem 0.6rem;
    transition: 0.4s all;
    cursor: pointer;
    line-height: 100%;
}

.launch_items {
    margin: 2rem 0 0 0;
}

@media (max-width: 1280px) {
    .launches {
        padding: 0 7rem;
    }
}

@media (max-width: 1024px) {
    .launches {
        padding: 0 3rem;
    }
    .latest_launch_detail {
        flex-direction: column;
    }
    .rocket_icon {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .latest_launch h1 {
        text-align: center;
    }
    .rocket_icon {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    .latest_launch_detail #rocketIcon {
        width: 11rem;
        height: 11rem;
        margin: 0 1rem 0 0;
    }
    .launches {
        padding-left: 1rem;
    }
    .latest_launch_heading {
        font-size: 2rem;
    }
}

@media (max-width: 540px) {
    .rocket_icon {
        width: 100%;
    }
}