.upcoming_launches {
    font-family: "Roboto";
    color: white;
}

.upcoming_launches h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.upcoming_list {
    list-style-type: none;
    padding: 0;
}

.upcoming_item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: #101010;
    margin-bottom: 2rem;
    border-radius: 0.6rem;
    transition: 0.4s all;
}

.upcoming_item:hover {
    filter: brightness(130%);
}

.upcoming_item .top {
    display: flex;
    justify-content: space-between;
}

.upcoming_item .flight_number {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 300;
    color: #bec0c4;
}

.upcoming_item .top .name {
    font-size: 1.7rem;
    font-weight: 300;
    color: #006FB9;
    margin-bottom: 0.5rem;
}

.upcoming_item .date {
    font-size: 0.9rem;
    font-weight: 300;
    color: #bec0c4;
    margin-bottom: 2rem;
}

.upcoming_item_info {
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
    grid-template-rows: max-content max-content;
}

.upcoming_item_info h3  {
    font-size: 0.9rem;
    font-weight: 300;
    display: inline-block;
}

.upcoming_item_info .title {
    color: #bec0c4;
    margin-right: 2rem;
}

.flag {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.5rem;
    border-radius: 0 0 0.6rem 0;
}

.show_all {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a {
    color: white;
}

@media (max-width: 768px) {
    .upcoming_launches h1 {
        font-size: 2rem;
    }
    .show_all {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .upcoming_item_info {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 500px) {
    .flag {
        width: 2.5rem;
    }
    .upcoming_item .flight_number {
        font-size: 1.4rem;
    }
    .upcoming_item .top .name {
        font-size: 1.4rem;
    }
}