.header {
    background: black;
    background-size: cover;
}

.header_home {
    background: url("../../assets/images/home_bg.jpg");
    padding-bottom: 0.5rem;
    /* height: 100vh; */
}

/* @media (max-width: 1024px) {
    .header_home {
        height: auto;
    }
} */