.rocket_page {
    background-color: black;
}

.rocket_header h1 {
    font-family: "Roboto";
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 10rem;
}

.rocket_header .quote {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: white;
}

.rocket_header .quote span {
    color: #006FB9;
    margin: 0 0.25rem;
}

.rocket_info {
    width: 60%;
    display: flex;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color: white;
    font-family: "Roboto";
    margin: 2rem auto 0 auto;
}

.rocket_details {
    display: flex;
    flex-direction: column;
    width: 82%;
}

.rocket_details h3 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.rocket_photo {
    display: grid;
    width: 5.6rem;
    height: 56.25rem;
    margin-right: 2rem;
}

.stages {
    display: flex;
}

.stages button {
    margin-right: 1.5rem;
}

.parameters {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding: 0;
    font-weight: 300;
    transition: 1s all;
}

.parameters li {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid white;
}

.parameter_value {
    color: #bec0c4;
}

.rocket_photo_heavy {
    width: 10rem;
    height: 56.25rem;
    margin-right: 2.5rem;
}

.active {
    background: #006FB4;
    color: black;
}

@media (max-width: 1280px) {
    .rocket_info {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .rocket_photo {
        height: 700px;
        width: 70px;
    }
    .rocket_photo_heavy {
        width: 124px; 
        height: 700px;
    }
}

@media (max-width: 768px) {
    .rocket_header h1 {
        font-size: 3rem;
    }
    .rocket_header .quote {
        font-size: 0.7rem;
    }
    .rocket_details {
        flex-direction: column;
    }
    .stages button {
        margin-right: 1rem;
    }
    .rocket_details {
        width: 100%;
    }
    .stages {
        flex-direction: column;
    }
    button {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .rocket_photo_heavy {
        width: 83px; 
        height: 470px;
    }
    .rocket_photo {
        width: 47px; 
        height: 470px;
    }
}

@media (max-width: 540px) {
    .rocket_info {
        grid-template-columns: max-content max-content;
        grid-template-rows: auto auto;
    }
    .parameters li {
        font-size: 0.8rem;
    }
}